#helptable td {
	padding: 10px;	
}

a {
	color: white;
}

.underline {
    font-size: 14pt;
    border-bottom: 3px dashed #0F0;
}

#monitor {
	background-color: #d3d3d3;
	border: 1px solid black;	
	width: 95%;
	border-radius: 10px;
	margin: 0 auto;
	overflow:hidden;
	box-shadow: 10px 10px 5px #888888;
	
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#label  {
	text-align: center;
}

#screen {
	background-color: #333;	
	color: #0F0;
	width: 90%;	
	margin: 0 auto;

	flex: 1;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;	
	font-weight: 700;
	overflow-y:scroll;
	font-family: Courier;
	font-size: 14pt;
}

#inputs {
	background-color: #333;
	width: 90%;
	margin: 0 auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 16pt;
	color: white;
}

#controls {
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin: 0 auto;	
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
    button > span + span{
        display: none;
    }
}

#my-input {
	border-style: none;
	background-color: transparent;
	color: white;
}
